<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
<div class="container">
    <!--<div ng-show="show_login">-->
    <!--<button class="btn btn-default" ng-click="login()">inlogen</button>-->
    <!--</div>-->
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3" ng-hide="show_login">
        <form ng-submit="submit(search)">
            <p><input type="text" id="search" placeholder="Type something..." autocomplete="off" class="form-control"
                      ng-model="search"/>
            </p>
            <p><input type="submit" value="Search" class="form-control btn btn-primary w100"></p>
        </form>
        <div id="results">
            <h4>video id´s</h4>
            <div ng-repeat="video in videos">
                <div class="row" ng-click="get_video_captions(video.id.videoId)">
                    <div class="col-md-5">
                        <img ng-src="{{video.snippet.thumbnails.medium.url}}">
                    </div>
                    <div class="col-md-7">
                        <h3>{{video.snippet.title}}</h3>
                        <p>{{video.snippet.description}}</p>
                        <h4>{{video.id.videoId}}</h4>
                    </div>
                </div>


            </div>
        </div>
        <!--<div>-->
        <!--<h4>Caption id for video</h4>-->
        <!--<div ng-repeat="captionsId in captionsIds">-->
        <!--<div class="row">-->
        <!--<div class="col-md-4"><p>{{captionsId.snippet.videoId}}</p></div>-->
        <!--&lt;!&ndash;<div class="col-md-4" ng-click="download_caption(captionsId.id)">{{captionsId.id}}</div>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
</body>
<script>
    var app = angular.module('app', []);
    app.controller('ctrl', function ($scope, $http, $window) {

        $scope.show_login = false;
//        $scope.user_token;
//        var url;
//        var windowThatWasOpened;
//        $http.get("url").then(function (response) {
//            url = response.data;
//        });
//        $scope.login = function () {
//            windowThatWasOpened = $window.open(url, "Please sign in with Google", "width=500px,height:700px");
//        };
//        window.onmessage = function (e) {
//            windowThatWasOpened.close();
//            var urlWithCode = e.data;
//            var idx = urlWithCode.lastIndexOf("code=");
//            var code = urlWithCode.substring(idx + 5).replace("#", "");
//            $http.get("tokens?code=" + code).then(function (response) {
//                $scope.show_login = false;
//                console.log(response.data.access_token);
//                $scope.user_token =response.data;
//            });
//        };

//get searched video
        $scope.submit = function (search) {
            $http.get('/search?code=' + search).then(function (response) {
                $http.get(response.data.uri.href)
                        .then(function (response) {
                            console.log(response.data.items);
                            for (var i = 0; i < response.data.items.length; i++) {
                                $http.get('/chekforcaptions?code=' + response.data.items[i].id.videoId).then(function (response) {
                                    console.log("captions for video id", response);
                                    $http.get(response.data.uri.href)
                                            .then(function (response) {
                                                for (var j = 0; j < response.data.items.length; i++) {
                                                    if(response.data.items[0].language){
                                                        $scope.videos.push(response.data.items[i]);
                                                    }
                                                }
                                                console.log(response.data.items);
//                                                $scope.captionsIds = response.data.items;
                                            });

                                });
                            }
//                            $scope.videos = response.data.items;
                        });

            });
        };

        $scope.get_video_captions = function (id) {
            $http.get('/caption?code=' + id).then(function (response) {
                console.log("captions for video id", response);
//                $http.get(response.data.uri.href)
//                        .then(function (response) {
//                            console.log(response.data.items);
//                            $scope.captionsIds = response.data.items;
//                        });

            });
        }

//        $scope.download_caption = function (id) {
//            $http.get('/download_captions?code=' + id+"&access="+$scope.user_token).then(function (response) {
//                console.log('send acceess', $scope.user_token);
//                console.log("downloading caption for caption_id", response.data);
////                $http.get(response.data.uri.href)
////                        .then(function (response) {
////                            console.log(response.data.items);
////                            $scope.captionsIds = response.data.items;
////                        });
//            });
//        }

    });
</script>
</html>