<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.3.1.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
<div class="container-fluid">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Search</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="img/loading.gif" ng-show="loading_page">
                            <h1 ng-hide="loading_page" ng-if="massage_error">{{massage_error}}</h1>
                        </div>

                        <div class="col-md-12" ng-if="massage_succes">
                            <div class="col-md-6">
                                <div my-youtube code="videoToPlay" time="search_time"></div>
                            </div>
                            <!--ng-keyup="search_for_mach(text_to_search)"-->
                            <div class="col-md-6"><label>search: <input class="form-control col-md-12"
                                                                        ng-model="text_to_search.text"></label> <br>
                            </div>
                            <div class="scroll" style="overflow-y: scroll; height:320px; width:400px">
                                <div class="col-md-12"
                                     ng-repeat="caption in videoCaptions|filter:text_to_search">
                                    <div class="row" ng-if="$index != 0">
                                        <div class="col-md-4"><p ng-click="video_go_to(video_id,caption.time)">
                                            {{caption.time}}</p></div>
                                        <div><p ng-click="video_go_to(video_id,caption.time[0])" class="col-md-8">
                                            {{caption.text}}</p></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form ng-submit="submit(search)">
                    <p><input type="text" id="search" placeholder="Type something..." autocomplete="off"
                              class="form-control"
                              ng-model="search"/>
                    </p>
                    <p><input type="submit" value="Search" class="form-control btn btn-primary w100"></p>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="video in videos">
                    <div class="row" ng-click="get_video_captions(video.id.videoId)" data-toggle="modal"
                         data-target="#myModal">
                        <div class="col-md-5">
                            <img ng-src="{{video.snippet.thumbnails.medium.url}}">
                        </div>
                        <div class="col-md-7">
                            <h3>{{video.snippet.title}}</h3>
                            <p>{{video.snippet.description}}</p>
                            <h4>{{video.id.videoId}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var app = angular.module('app', ['ui.bootstrap']);
    app.directive('myYoutube', function ($sce) {
        return {
            restrict: 'EA',
            scope: {code: '='},
            replace: true,
            template: '<div style="height:400px;"><iframe style="overflow:hidden;height:315px;width:420px" src="{{url}}" frameborder="0" allowfullscreen></iframe></div>',
            link: function (scope) {
                console.log('here');
                scope.$watch('code', function (newVal) {
                    if (newVal) {
                        console.log(newVal);
                        scope.url = $sce.trustAsResourceUrl("http://www.youtube.com/embed/" + newVal);
                    }
                });
            }
        };
    });
    app.controller('ctrl', function ($uibModal, $scope, $http, $window) {

        $scope.show_login = false;

        $scope.video_search_caption;
        $scope.videos = [];

        $scope.submit = function (search) {
            $scope.videos = [];
            $http.get('/search?code=' + search).then(function (response) {
                $http.get(response.data.uri.href)
                        .then(function (response) {
//                            console.log(response.data.items);
                            $scope.video_search_caption = response.data.items;
//                            $scope.videos = response.data.items;
                            for (var i = 0; i < response.data.items.length; i++) {
                                $http.get('/chekforcaptions?code=' + response.data.items[i].id.videoId).then(function (response) {
//                                    console.log("captions for video id", response);
                                    $http.get(response.data.uri.href)
                                            .then(function (response) {

                                                if (response.data.items) {


                                                    for (var j = 0; j < response.data.items.length; j++) {
                                                        if (response.data.items[j].snippet.language == 'en') {
                                                            for (var b = 0; b < $scope.video_search_caption.length; b++) {
                                                                if ($scope.video_search_caption[b].id.videoId == response.data.items[j].snippet.videoId) {
//                                                                    console.log('video die caption hebben',$scope.video_search_caption[b].id.videoId);
                                                                    $scope.videos.push($scope.video_search_caption[b]);
                                                                }
                                                            }
//                                                        $scope.videos.push($scope.video_search_caption);
//                                                            console.log('deze heeft engelse ondetitles');
                                                        }
                                                    }
                                                }
                                            });
                                });
                            }
//
                        });
//                $scope.videos = response.data.items;
            });
        };
//        $scope.search_for_mach = function ($text) {
////            $scope.videoCaptions="";
//            console.log($scope.videoCaptions.indexOf($text));
//            console.log($text);
//        }

        $scope.video_go_to = function (id, $time) {
            var time = $time.substring(0, 8);
            var a = time.split(':'); // split it at the colons

// minutes are worth 60 seconds. Hours are worth 60 minutes.
            var seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]);
            $scope.videoToPlay = id + '?start=' + seconds;
            console.log(seconds);
        }
        $scope.loading_page = false;
        $scope.massage_error;
        $scope.massage_succes;
        $scope.videoToPlay;
        $scope.videoCaptions;
        $scope.video_id;
        $scope.search_time = '0';
        $scope.get_video_captions = function (id) {
            $scope.massage_succes = "";
            $scope.loading_page = true;
            console.log('video kliked', id);
            $http.get('/caption?code=' + id).then(function (response) {
                $scope.loading_page = false;
                if (response.data.caption.length) {
                    $scope.video_id = id;
                    $scope.videoToPlay = id + '?start=' + $scope.search_time;
                    $scope.massage_succes = "captions find->ga verder met zoeken";

                    console.log('/sub/' + response.data.caption);
                    $http.get('/read_file?code=' + '/sub/' + response.data.caption).then(function (response) {
                        $scope.videoCaptions = "";
                        $scope.videoCaptions = response.data.data.split("\n\n").map(function (item) {
                            var parts = item.split("\n");
                            if (parts[0] != undefined && parts[1] != undefined && parts[1] != undefined) {
                                var text = parts[1];
                                if (parts[2] != undefined) {
                                    text = text + parts[2];
                                }
//                                console.log(parts[1], " ", parts[2]);
                                var filter_text = text.replace(/\s*\<.*?\>\s*/g, ' ');
                                var start_time = parts[0].split("-->");

                                return {
                                    time: start_time[0],
                                    text: String(filter_text),
                                };
                            }
                        });

                        console.log('read file response', $scope.videoCaptions);
                    });
                } else {
                    $scope.massage_error = "Er is geen mogelijkheid om hier te zoeken";
                }
//                console.log("captions for video id", response);
            });
        }
    });
</script>
</html>